* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fira sans', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--dark);
    color: var(--white);
}
:root {
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --gray: #687280;
    --white: #fff;
    --pink: #EC4899;
    --purple: #885Cf6;
}
header {
    width: 600px;
    margin: 20px auto;
    padding: 2rem 2rem;
}
header h1 {
    padding:1rem 0;
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--gray);
}
#new-task-form  {
    display: flex;
    gap: 6px;
}
#new-task-form #new-task-input {
    width: 100%;
    padding: 1rem;
    background: var(--darkest);
    color: var(--white);
    font-size: 1.125rem;
    border-radius: 10px;
    border: var(--darker) 1px solid;
    outline: none;
}
#new-task-form #new-task-submit {
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 7px 20px;
    font-size: 1.125rem;
    color: var(--white);
    cursor: pointer;
    background-image: linear-gradient(to right ,#3f5efb 35%, #fc466b 100%);
}

/* Taska */
#task-list {
    width: 800px;
    margin: auto;
}
#task-list h2 {
    padding: 1.2rem;
    font-size: 2.125rem;
}
.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 0.6rem;
    border-radius: 10px;
    margin: 1.6rem;
}

.task .contant .text {
    flex: 1 1 0%;
    color: white;
    font-size: 1.5rem;
    width: 500px;
    padding: 10px;
    background:none;
    border: none;
    outline: none;
}
.task .actions .edit {
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1.125rem;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}
.task .actions .delete {
    margin-left: 0.6rem;
    cursor: pointer;
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    border: none;
    outline: none;
    font-size: 1.125rem;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
}



